@(link: String)

<!DOCTYPE html>
<html>
	<head>
	@common.blog.head("Becasue I can")
	</head>
	<body>
	<div class="container">
		<div class="largeHeader">
			Occured, a 404 has!
		</div>
		<div class="post">
	                    <section>
	                        <div class="post-preview col-xs-10 no-gutter">
	                        
	                        <div class=" col-xs-2 no-gutter">
	                        	<div class="side">
	                            	<img src="@routes.Assets.at("images/404-Jedi.jpg")" class="user-icon user-1" alt="user-image">
	                            </div>
	                        </div>
	                        
	                        <h2><a><div class="mediumHeader">Failed I have to find <lp>../@link</lp></div></a></h2>
	                        <p><div class = "message">Dark side I sense in you. Disturbance the reason is, I can't find the page.
	                        Typing mistake it must be. Or failed I really have. Sorry I am for.</div></p>
	
	                        <p class="meta">
	                        </p>
	                        </div>	
	                    </section>
	    </div>
	</body>
</html>