@(query: String)
<!DOCTYPE html>
<html>
	<head>
	@common.blog.head("Becasue I can")
	</head>
	<body>
	<div class="container">
		<div class="largeHeader">
			Invalid, your requests are!
		</div>
		<div class="post">
	                    <section>
	                        <div class="post-preview col-xs-10 no-gutter">
	                        
	                        <div class=" col-xs-2 no-gutter">
	                        	<div class="side">
	                            	<img src="@routes.Assets.at("images/404-Jedi.jpg")" class="user-icon user-1" alt="user-image">
	                            </div>
	                        </div>
	                        
	                        <h2><a><div class="mediumHeader">Invalid your demands are to access <lp>@query</lp></div></a></h2>
	                        <p><div class = "message">Darkness I see in you. Bad your intentions are, must. Jedi you are not. Access this you can not.</div></p>
	                        <p class="meta">
	                        </p>
	                        </div>
	                    </section>
	    </div>
	</body>
</html>